@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/brands.scss";
@import "./fontawesome/regular.scss";
@import "./fontawesome/solid.scss";

$color-primary: hsl(228, 100%, 61%);
$color-secondary: hsl(125, 96%, 41%);
$color-danger: hsl(0, 100%, 61%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: skyblue;
}

button {
  border: #000000;
  border-radius: 0.3rem;
  color: #4c4c4c;
  padding: 1em;
  margin: 1rem;

  &.btn-primary {
    color: white;
    background-color: $color-primary;
  }

  &.btn-secondary {
    color: white;
    background-color: $color-secondary;
  }

  &.btn-danger {
    color: white;
    background-color: $color-danger;
  }
}

div {

  &.form {
    &>.form-panel {
      margin: 2rem 1rem;
      border: 0.1em solid #000000;
    }

    .form-control {
      padding: 0.5rem;
    }
  }
}