@import "@/app/styles/tools/variables";

$sidebarWidth: 250px;
$sidebarCollapsedWidth: 60px;

.navbar {
    .navigation {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        background: $color-primary-ligth;

        &>li> {

            * {
                text-decoration: none;
                display: block;
                padding: 1em;
                color: white;

                &:hover {
                    background: $color-primary;
                }
            }

            i {
                cursor: pointer;
            }
        }
    }

    .userData {
        .login {
            text-decoration: none;
            color: #fff;
            transition: colot 0.3s;

            &:hover {
                color: #a3a3a3;
            }
        }
    }
}

.brand {
    font-size: 1.5rem;
}

/* Estilos del sidebar */
.sidebar {
    background-color: #f4f4f4;
    width: $sidebarWidth;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;

    & i {
        color: $color-primary;
    }

    &.collapsed {
        width: $sidebarCollapsedWidth;

        ul {
            li {
                a>span {
                    display: none;
                }
            }
        }

        .toggleButton {
            transform: scaleX(1);
        }
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 0.5rem;

            a {
                text-decoration: none;
                color: $color-primary;
            }
        }
    }

    .toggleButton {
        margin: 0;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        transform: scaleX(-1);
    }
}

.mainContent {
    transition: margin-left 0.3s ease;
    margin-left: $sidebarWidth;

    &.leftCollapsed {
        margin-left: $sidebarCollapsedWidth;
    }
}