@import "@/app/styles/variables.module.scss";

.cardServicio {
    display: flex;

    border: solid;
    border-color: #81837b8f;
    border-radius: 4px;

    .title {
        color: $color-primary;
    }
}