.cards-content {
    display: flex;
    flex-wrap: wrap;

    .item-card {
        display: flex;

        background-color: rgb(255, 208, 0);
        width: fit-content;
        padding: 1em;
        margin: 0.5em;
        border-radius: 0.5rem;

        span {
            font-weight: bold;
            flex-grow: 1;
            /* color: variables.$color-primary; */
        }
    }
}